<?xml version='1.0' encoding='utf-8'?>
<widget
    id="com.rsg.chess"
    version="2.0.0-alpha.1"
    versionCode='20001'
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0"
>
    <name>RSG Chess</name>
    <description>
        Cool chess game for everyone
    </description>
    <author email="radicho123@gmail.com" href="http://github.com/radi-cho">
        Radi Cho
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon height="180" src="./www/res/icon.png" width="180" />
    <engine name="browser" spec="~5.0.1" />
    <plugin name="cordova-plugin-admobpro" spec="~2.29.29" />
    <plugin name="cordova-plugin-inappbrowser" spec="~2.0.2" />
</widget>
