body {
  text-align: center;
  background: rgba(0, 255, 153, 0.25)
}

#table{
  background: rgb(209, 139, 71);
  border: 1px solid black;
  float: left;
  margin-top: 5px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rotated {
  transform: rotateX(180deg);
}

div#app > div {
 display: inline-block;
}

div#app > div:hover{
 transform: none;
}

#table tr:nth-child(odd) td:nth-child(odd){
  background: rgb(255, 206, 158);
}

#table tr:nth-child(even) td:nth-child(even){
  background: rgb(255, 206, 158);
}

#table tr:nth-child(even) td:nth-child(odd) {
  background: rgb(209, 139, 71);
}

#table tr:nth-child(odd) td:nth-child(even) {
  background: rgb(209, 139, 71);
}

#table td{
  cursor: pointer;
  border: 1px solid gray;
  width: 12.5%;
  height: 12.5%;
  text-align: center;
}

#app #table .selected {
  background: brown;
}

#app #table .validMoves {
  background: red;
}

#app #table td {
  -webkit-transition: background-color 375ms linear;
  -moz-transition: background-color 375ms linear;
  -o-transition: background-color 375ms linear;
  -ms-transition: background-color 375ms linear;
  transition: background-color 375ms linear;
}